<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/blogs/{{blog.id}}">{{blog.title}}</a>
    </h2>

    <div class="card">
      <div class="card-body">
        <p card="card-text"> {{blog.content}}</p>
        <a href="/blogs/{{id}}" class="btn btn-primary">View Blog</a>
      </div>
      <div class="card-footer text-muted">
        Posted by {{blog.user.username}} at {{blog.createdAt}}
      </div>
    </div>


{{/each}}
